.toggle {
    display: flex;
    justify-content: center;
        &-btn {
            width: 32rem;
        }
      &-switch {
          width: 15rem;
        padding-right: 3rem;
        span {
            margin-right: 1rem;
        }
      }
  }
  .com-title {
      .ant-form-item {
          display: flex;
          justify-content: center;
      }
      .input-title {
          height: 3rem;
          width: 68%;
      }
      .ant-form-item-control-input-content {
          text-align: right;
      }
  }
  .com-title_none {
      display: none;
  }
  