.site-card-border-less-wrapper {
    padding: 10px 100px;

    .counts-card {
      width: 300px;
      text-align: center;
      font-weight: 600;
      height: 150px;
      
       p {
        margin: 5%;
        font-size: 3rem;
       }
  }
  
}