.site-card-border-less-wrapper {
  .counts-card {
    text-align: center;
    font-weight: 600;
      &:hover {
        background: #8dd4d541;
        transition: .2s ease-in-out;
        cursor: pointer;
    }
     p {
      font-size: 2.5rem;
     }
}}