.dashboard {
    height: 100vh;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        h3:hover {
            cursor: pointer;
        }
        h3 {
            font-size: 2.9rem;
            color: #fff;
            margin: 0;
        }
    }
    .trigger {
        color: #fff;
        font-size: 2.5rem;
        padding-left: 2rem;
    }
}

// Dashboard content
.counts {
    display: flex;
    height: 70%;
    width: 100%;
    
    &_left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
    }
}
.counts_down {
    display: flex;
    align-items: flex-end;
    height: 30%;
    width: 90%;
    justify-content: space-between;
}

.ant-layout-content {
    height: 100%;
}
.chartjs-render-monitor {
    width: 100% !important;
    height: 100% !important;
}
.chart-container {
    width: 70%;
}