.dashboard {
    height: 100vh;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        h3:hover {
            cursor: pointer;
        }
        h3 {
            font-size: 2.9rem;
            color: #fff;
            margin: 0;
        }
    }
    .trigger {
        color: #fff;
        font-size: 2.5rem;
        padding-left: 2rem;
    }
}

// Dashboard content
.counts {
    display: flex;

    &_left {
        width: 30%;
        height: 50%;
    }
}
.counts_down {
    display: flex;
    align-items: flex-end;
}