.main {
    height: 100vh;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 5px;
        .crm-logo {
            width: 100%;
            height: 100%;
        }
        h3:hover {
            cursor: pointer;
        }
        h3 {
            font-size: 2.9rem;
            color: #fff;
            margin: 0;
        }
    }
    .trigger {
        color: #fff;
        font-size: 2.5rem;
        padding-left: 2rem;
    }
}

// Dashboard content
.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'customer chart chart'
                         'product chart chart'
                         'solved waiting total';
    padding: 10px 30px;
    box-sizing: border-box;
    grid-gap: 30px;
    div {
        border-radius: 4px;
    }

}

.customer {
    grid-area: customer;
}
.product {
    grid-area: product;
}
.opened {
    grid-area: opened;
}
.solved {
    grid-area: solved;
}
.waiting {
    grid-area: waiting;
}
.total {
    grid-area: total;
}
.db-chart {
    grid-area: chart;
    background: #fff;
    border-radius: 4px;
}
.ant-layout-content {
    height: 100%;
}
.chartjs-render-monitor {
        width: 100% !important;
        height: 100% !important;
    }

    